@charset "UTF-8";

//btn-base
.btn{
  cursor: pointer;
  @extend %txa-c;
  @include display(inline-block);
  border: none;
}

//两个参数分别是上下内边距和左右内边距
@mixin btn-size($t-and-b,$l-and-r){
  padding: $t-and-b $l-and-r;
}