$row-w:100% !default; //行宽
$grid-col:12 !default;  //单元格个数
$grid-w:100%/12 !default; //1个单元格宽度

.row{
  @extend %ovh;
  width: $row-w;
  .last-grid{
    float: none;
    @extend %ovh;
  }
  .grid{
    box-sizing: border-box;
    @extend %float;
  }
}

@function getWidth($i:$grid-col){
  @return $grid-w*$i;
}

@for $i from 1 through $grid-col{
  .grid-#{$i}{
    width: getWidth($i);
  }
}
